data
.DS_Store
.venv
*__pycache__
rawdata
data.0
rawdata.0
.env
data.1
small_corpus
examples
logs
self-check/example/processed-questions-pub242-chapters
rawdata-pub
self-check/self-check-output-cluster
rawdata-pubs
